
<!--  BEGIN MAIN CONTAINER  -->
<div  class="main-container sidebar-closed sbar-open" id="container">

  <div class="overlay"></div>
  <div class="cs-overlay"></div>
  <div class="search-overlay"></div>

  <!--  BEGIN SIDEBAR  -->
  <div *ngIf="Auth.isloggedIn" class="sidebar-wrapper sidebar-theme">

    <nav id="sidebar">

      <ul class="navbar-nav theme-brand flex-row  text-center">
        <li class="nav-item theme-logo">
          <a href="index.html">
            <img src="assets/assets/img/logo-1.png" class="navbar-logo" alt="logo">
          </a>
        </li>
        <li class="nav-item theme-text">
          <a href="index.html" class="nav-link"> Nejtrans </a>
        </li>
      </ul>

      <ul class="list-unstyled menu-categories" id="accordionExample">
        <li class="menu active">
          <a routerLink="" aria-expanded="true" class="dropdown-toggle">
            <div class="active">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
              <span>Dashboard</span>
            </div>
          </a>
        </li>
        <li class="menu menu-heading">
          <div class="heading"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
            <span>Apps</span>
          </div>
        </li>
        <li class="menu">
          <a routerLink="apps/todo" aria-expanded="false" class="dropdown-toggle">
            <div class="">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
              <span>Todo List</span>
            </div>
          </a>
        </li>

        <li class="menu menu-heading">
          <div class="heading"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
            <span>APPLICATIONS</span>
          </div>
        </li>

        <li class="menu">
          <a href="#invoice" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            <div class="">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-folder"><path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path></svg>
              <span>Dossiers</span>
            </div>
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
            </div>
          </a>
          <ul class="collapse submenu list-unstyled" id="invoice" data-parent="#accordionExample">
            <li>
              <a routerLink="dossiers/create"> Ajouter Dossiers </a>
            </li>
            <li *ngIf="Auth.isEmployee() || Auth.isClient()">
              <a routerLink="dossiers/myfolders"> Mes Dossiers </a>
            </li>
            <li *ngIf="Auth.isEmployee() || Auth.isAdmin()">
              <a routerLink="dossiers/all"> Voir Dossiers </a>
            </li>
            <li *ngIf="Auth.isEmployee() || Auth.isAdmin() || Auth.isClient()">
              <a routerLink="dossiers/import"> Import </a>
            </li>
            <li *ngIf="Auth.isEmployee() || Auth.isAdmin() || Auth.isClient()">
              <a routerLink="dossiers/export"> Export </a>
            </li>
            <li *ngIf="Auth.isAdmin() || Auth.isClient()">
              <a routerLink="dossiers/enattente"> En Attente </a>
            </li>
            <li *ngIf="Auth.isEmployee() || Auth.isAdmin() || Auth.isClient()">
              <a routerLink="dossiers/entraitement"> En Traitement </a>
            </li >
            <li *ngIf="Auth.isEmployee() || Auth.isAdmin() || Auth.isClient()">
              <a routerLink="dossiers/completed"> Terminer </a>
            </li>
          </ul>
        </li>

        <li *ngIf="Auth.isEmployee() || Auth.isAdmin()"  class="menu">
          <a href="#components" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            <div class="">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
              <span>Utilisateurs</span>
            </div>
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
            </div>
          </a>
          <ul class="collapse submenu list-unstyled" id="components" data-parent="#accordionExample">
            <li>
              <a routerLink="users/clients"> Clients </a>
            </li>
            <li>
              <a *ngIf="Auth.isAdmin()"  routerLink="users/employees"> Agents  </a>
            </li>
          </ul>
        </li>

        <li *ngIf="Auth.isAdmin()" class="menu">
          <a href="#elements" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            <div class="">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clipboard"><path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"></path><rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect></svg>
              <span>Rapport</span>
            </div>
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
            </div>
          </a>
          <ul class="collapse submenu list-unstyled" id="elements" data-parent="#accordionExample">
            <li>
              <a routerLink="rapports/entreprise"> Entreprise </a>
            </li>
            <li>
              <a routerLink="rapports/agents"> Agents </a>
            </li>
            <li>
              <a routerLink="rapports/clients"> Clients </a>
            </li>
          </ul>
        </li>


      </ul>

    </nav>

  </div>
  <!--  END SIDEBAR  -->
  <!--  BEGIN CONTENT AREA  -->
  <div id="content" class="main-content">
    <div class="layout-px-spacing">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!--  END CONTENT AREA  -->
</div>
<!-- END MAIN CONTAINER -->

