<div class="page-header">
  <div class="page-title">
      <h3>Entreprise Rapport :</h3>
  </div>
</div>
<div class="row layout-top-spacing">
  <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
  <div class="widget widget-one_hybrid widget-followers">
      <div class="widget-heading">
       <div class="row">
        <div class="col w-title">
          <div class="w-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-folder"><path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path></svg>
          </div>
          <div class="">
            <p class="w-value">{{Totalhelperclass.lastMounth}}</p>
            <h5 class="">Total last Month</h5>
          </div>
        </div>
        <div class="col w-title">
          <div class="w-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-folder"><path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path></svg>
          </div>
          <div class="">
            <p class="w-value">{{Totalhelperclass.thisMounth}}</p>
            <h5 class="">Total this Month</h5>
          </div>
        </div>
       </div>
        <div class="row ">
            <div class="col w-title">
            <div class="w-icon">
            </div>
            <div class="">
              <p *ngIf="Totalhelperclass.result > 0" class="text-success w-value ">+{{Totalhelperclass.result}}</p>
              <p *ngIf="Totalhelperclass.result <= 0" class="text-danger w-value ">-{{Totalhelperclass.result}}</p>
              <h5 class="">Avg Folders</h5>
            </div>
          </div>
            <div class="col w-title">
              <div class="w-icon">
               </div>
              <div class="">
                <p *ngIf="Totalhelperclass.avg > 0" class="text-success w-value ">{{Totalhelperclass.avg}}%</p>
                <p *ngIf="Totalhelperclass.avg <= 0" class="text-danger w-value ">{{Totalhelperclass.avg}}%</p>
                <h5 class="">Avg Folders</h5>
              </div>
            </div>
        </div>
      </div>

  </div>
</div>
  <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
    <div class="widget widget-one_hybrid widget-engagement">
      <div class="widget-heading">
        <div class="row">
          <div class="col w-title">
            <div class="w-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-folder"><path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path></svg>
            </div>
            <div class="">
              <p class="w-value">{{Importhelperclass.lastMounth}}</p>
              <h5 class="">Import last Month</h5>
            </div>
          </div>
          <div class="col w-title">
            <div class="w-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-folder"><path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path></svg>
            </div>
            <div class="">
              <p class="w-value">{{Importhelperclass.thisMounth}}</p>
              <h5 class="">Import this Month</h5>
            </div>
          </div>
        </div>
        <div class="row ">
            <div class="col w-title">
              <div class="w-icon">
                </div>
              <div class="">
                <p *ngIf="Importhelperclass.result > 0" class="text-success w-value ">+{{Importhelperclass.result}}</p>
                <p *ngIf="Importhelperclass.result <= 0" class="text-danger w-value ">-{{Importhelperclass.result}}</p>
                <h5 class="">Avg. Import</h5>
              </div>
            </div>
            <div class="col w-title">
            <div class="w-icon">
            </div>
            <div class="">
              <p *ngIf="Importhelperclass.avg > 0" class="text-success w-value ">+{{Importhelperclass.avg}}</p>
              <p *ngIf="Importhelperclass.avg <= 0" class="text-danger w-value ">-{{Importhelperclass.avg}}</p>
              <h5 class="">Avg. Import</h5>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
    <div class="widget widget-one_hybrid widget-referral">
      <div class="widget-heading">
        <div class="row">
          <div class="col w-title">
            <div class="w-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-folder"><path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path></svg>
            </div>
            <div class="">
              <p class="w-value">{{Exporthelperclass.lastMounth}}</p>
              <h5 class="">Export last Month</h5>
            </div>
          </div>
          <div class="col w-title">
            <div class="w-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-folder"><path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path></svg>
            </div>
            <div class="">
              <p class="w-value">{{Exporthelperclass.thisMounth}}</p>
              <h5 class="">Export this Month</h5>
            </div>
          </div>
        </div>
        <div class="row ">
            <div class="col w-title">
              <div class="w-icon"></div>
              <div class="">
                <p *ngIf="Exporthelperclass.result > 0" class="text-success w-value ">+{{Exporthelperclass.result}}</p>
                <p *ngIf="Exporthelperclass.result <= 0" class="text-danger w-value ">-{{Exporthelperclass.result}}</p>
                <h5 class="">Avg. Export</h5>
              </div>
            </div>
            <div class="col w-title">
            <div class="w-icon"></div>
            <div class="">
              <p *ngIf="Exporthelperclass.avg > 0" class="text-success w-value ">+{{Exporthelperclass.avg}}</p>
              <p *ngIf="Exporthelperclass.avg <= 0" class="text-danger w-value ">-{{Exporthelperclass.avg}}</p>
              <h5 class="">Avg. Export</h5>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 layout-top-spacing">
    <div class="skills layout-spacing ">
      <div class="widget-content widget-content-area">
        <div class="row">
          <div class="col-lg-10">
            <h3>Total Avec Date </h3>
          </div>
          <div class="col">
            <div class="task-action">
              <div class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" id="pending11Task1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                </a>

                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="pending11Task1" style="will-change: transform;">
                  <a class="dropdown-item" (click)="getlineALLData(this.anio);">{{anio}}</a>
                  <a class="dropdown-item" (click)="getlineALLData(anio - 1)">{{anio - 1}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="chart-wrapper">
          <canvas baseChart
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  [plugins]="lineChartPlugins">
          </canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 layout-top-spacing">
    <div class="skills layout-spacing ">
      <div class="widget-content widget-content-area">
        <div class="row">
          <div class="col-lg-10">
            <h3>Import / Export : Statistiques </h3>
          </div>
          <div class="col">
            <div class="task-action">
              <div class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" id="Task" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                </a>
                <div  class="dropdown-menu dropdown-menu-right" aria-labelledby="Task" style="will-change: transform;">
                  <a class="dropdown-item" (click)="getImportExportwithYear(anio)">{{anio }}</a>
                  <a class="dropdown-item" (click)="getImportExportwithYear(anio - 1)">{{anio -1}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="chart-wrapper">
          <canvas baseChart
                  [data]="pieChartData"
                  [labels]="pieChartLabels"
                  [chartType]="pieChartType"
                  [colors]="pieChartColors"
                  [options]="pieChartOptions"
                  [plugins]="pieChartPlugins"
                  [legend]="pieChartLegend">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 layout-top-spacing">
    <div class="skills layout-spacing ">
      <div class="widget-content widget-content-area">
        <div class="row">
          <div class="col-lg-10">
            <h3>Dossiers Avec Date </h3>
          </div>
          <div class="col">
            <div class="task-action">
              <div class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" id="pending11Task11" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                </a>

                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="pending11Task11" style="will-change: transform;">
                  <a class="dropdown-item" (click)="getlineData(anio)">{{anio}}</a>
                  <a class="dropdown-item" (click)="getlineData(anio - 1)">{{anio - 1}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="chart-wrapper">
          <canvas baseChart
                  [datasets]="barChartData_1"
                  [labels]="barChartLabels_1"
                  [options]="barChartOptions_1"
                  [plugins]="barChartPlugins_1"
                  [legend]="barChartLegend_1"
                  [chartType]="barChartType_1">
          </canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 layout-top-spacing">
    <div class="skills layout-spacing ">
      <div class="widget-content widget-content-area">
        <div class="row">
          <div class="col-lg-10">
            <h3>Dossiers Avec Date </h3>
          </div>
          <div class="col">
            <div class="task-action">
              <div class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" id="pending11Task" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                </a>

                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="pending11Task" style="will-change: transform;">
                  <a class="dropdown-item" (click)="getlineDataImpo(anio)">{{anio}}</a>
                  <a class="dropdown-item" (click)="getlineDataImpo(anio - 1)">{{anio - 1}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="chart-wrapper">
          <canvas baseChart
                  [datasets]="lineChartData_1"
                  [labels]="lineChartLabels_1"
                  [options]="lineChartOptions_1"
                  [colors]="lineChartColors_1"
                  [legend]="lineChartLegend_1"
                  [chartType]="lineChartType_1"
                  [plugins]="lineChartPlugins_1">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row layout-top-spacing">
  <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
    <div class="widget widget-one_hybrid widget-followers">
      <div class="widget-heading">
        <div class="row">
          <div class="col w-title">
            <div class="w-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-folder"><path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path></svg>
            </div>
            <div class="">
              <p class="w-value">{{TotalYear.lastYear}}</p>
              <h5 class="">Total last Year</h5>
            </div>
          </div>
          <div class="col w-title">
            <div class="w-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-folder"><path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path></svg>
            </div>
            <div class="">
              <p class="w-value">{{TotalYear.thisYear}}</p>
              <h5 class="">Total this Year</h5>
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="col w-title">
            <div class="w-icon">
            </div>
            <div class="">
              <p *ngIf="TotalYear.result > 0" class="text-success w-value ">+{{TotalYear.result}}</p>
              <p *ngIf="TotalYear.result <= 0" class="text-danger w-value ">-{{TotalYear.result}}</p>
              <h5 class="">Avg Folders</h5>
            </div>
          </div>
          <div class="col w-title">
            <div class="w-icon">
            </div>
            <div class="">
              <p *ngIf="TotalYear.avg > 0" class="text-success w-value ">{{TotalYear.avg}}%</p>
              <p *ngIf="TotalYear.avg <= 0" class="text-danger w-value ">{{TotalYear.avg}}%</p>
              <h5 class="">Avg Folders</h5>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
    <div class="widget widget-one_hybrid widget-engagement">
      <div class="widget-heading">
        <div class="row">
          <div class="col w-title">
            <div class="w-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-folder"><path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path></svg>
            </div>
            <div class="">
              <p class="w-value">{{ImportYear.lastYear}}</p>
              <h5 class="">Import last Year</h5>
            </div>
          </div>
          <div class="col w-title">
            <div class="w-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-folder"><path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path></svg>
            </div>
            <div class="">
              <p class="w-value">{{ImportYear.thisYear}}</p>
              <h5 class="">Import this Year</h5>
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="col w-title">
            <div class="w-icon">
            </div>
            <div class="">
              <p *ngIf="ImportYear.result > 0" class="text-success w-value ">+{{ImportYear.result}}</p>
              <p *ngIf="ImportYear.result <= 0" class="text-danger w-value ">-{{ImportYear.result}}</p>
              <h5 class="">Avg. Import</h5>
            </div>
          </div>
          <div class="col w-title">
            <div class="w-icon">
            </div>
            <div class="">
              <p *ngIf="ImportYear.avg > 0" class="text-success w-value ">+{{ImportYear.avg}}</p>
              <p *ngIf="ImportYear.avg <= 0" class="text-danger w-value ">-{{ImportYear.avg}}</p>
              <h5 class="">Avg. Import</h5>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
    <div class="widget widget-one_hybrid widget-referral">
      <div class="widget-heading">
        <div class="row">
          <div class="col w-title">
            <div class="w-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-folder"><path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path></svg>
            </div>
            <div class="">
              <p class="w-value">{{ExportYear.lastYear}}</p>
              <h5 class="">Export last Year</h5>
            </div>
          </div>
          <div class="col w-title">
            <div class="w-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-folder"><path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path></svg>
            </div>
            <div class="">
              <p class="w-value">{{ExportYear.thisYear}}</p>
              <h5 class="">Export this Year</h5>
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="col w-title">
            <div class="w-icon"></div>
            <div class="">
              <p *ngIf="ExportYear.result > 0" class="text-success w-value ">+{{ExportYear.result}}</p>
              <p *ngIf="ExportYear.result <= 0" class="text-danger w-value ">-{{ExportYear.result}}</p>
              <h5 class="">Avg. Export</h5>
            </div>
          </div>
          <div class="col w-title">
            <div class="w-icon"></div>
            <div class="">
              <p *ngIf="ExportYear.avg > 0" class="text-success w-value ">+{{ExportYear.avg}}</p>
              <p *ngIf="ExportYear.avg <= 0" class="text-danger w-value ">-{{ExportYear.avg}}</p>
              <h5 class="">Avg. Export</h5>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="row layout-top-spacing">
 <app-table-viewentreprise></app-table-viewentreprise>
</div>

