<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
  <title>Password Recovery Boxed | CORK - Multipurpose Bootstrap Dashboard Template </title>
  <link rel="icon" type="image/x-icon" href="assets/assets/img/favicon.ico"/>
  <!-- BEGIN GLOBAL MANDATORY STYLES -->
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
</head>
<body class="form no-image-content">


<div class="form-container outer">
  <div class="form-form">
    <div class="form-form-wrap">
      <div class="form-container">
        <div class="form-content">
          <div  class="alert alert-danger" *ngIf="err==1">
            <strong> Email Not Exist ! </strong>
          </div>
          <div  class="alert alert-success" *ngIf="err==2">
            <strong> Please check your email </strong>
          </div>
          <h1 class="">Password Recovery</h1>
          <p class="signup-link recovery">Enter your email and instructions will sent to you!</p>
          <form class="text-left">
            <div class="form">

              <div id="email-field" class="field-wrapper input">
                <div class="d-flex justify-content-between">
                  <label for="email">EMAIL</label>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-at-sign"><circle cx="12" cy="12" r="4"></circle><path d="M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-3.92 7.94"></path></svg>
                <input  [(ngModel)] = "email" id="email" name="email" type="text" class="form-control" value="" placeholder="Email">
              </div>

              <div class="d-sm-flex justify-content-between">

                <div class="field-wrapper">
                  <button (click)="forgotPassword(email)" type="submit" class="btn btn-primary" >Reset</button>
                </div>
              </div>

            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
