<div class="row" id="cancel-row">

  <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
    <div class="widget-content widget-content-area br-6">
      <table id="html5-extension" class="table table-hover non-hover " style="width:100%">
       <caption> Client Dossiers </caption>
        <thead>
        <tr>
          <th scope="col">Type</th>
          <th scope="col">Nombre Documents</th>
          <th scope="col">Disponiblité</th>
          <th scope="col">Reseravation</th>
          <th scope="col">Etat d'avanecement </th>
          <th scope="col">Creer À</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let dossier of doss">


          <!--Type Dossier -->
          <td *ngIf="dossier.typeDossier == import; else contenu_pas_bon"><span class="shadow-none badge badge-success">{{dossier.typeDossier}}</span></td>
          <ng-template #contenu_pas_bon> <td><span class="shadow-none badge badge-success">{{dossier.typeDossier}}</span></td></ng-template>

          <!-- nb Documents -->
          <td >{{dossier.nb_documents}}</td>

          <!-- Available -->
          <td *ngIf="dossier.available == enatt"><span class="shadow-none badge badge-danger">En Attente</span></td>
          <td *ngIf="dossier.available == entrai"><span class="shadow-none badge badge-warning">En Traitement</span></td>
          <td *ngIf="dossier.available == comp"><span class="shadow-none badge badge-info">Terminer</span></td>

          <!--Reservation name -->
          <td *ngIf="dossier.employeeUsername == '' ; else res_name"><span style="font-weight: bold">Aucun</span></td>
          <ng-template #res_name><td><span class="shadow-none badge badge-secondary">{{dossier.employeeUsername}}</span></td> </ng-template>

          <!-- Etat -->
          <td *ngIf="dossier.etat == null ; else etat">Aucun</td>
          <ng-template #etat><td>En programation</td> </ng-template>

          <!-- Creation Date -->
          <td>{{dossier.createdAt |  date:'medium'}}</td>



        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>


