
 <div class="row invoice layout-top-spacing layout-spacing">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

    <div class="doc-container">
      <div class="row">
        <div class="col">

          <div class="invoice-content">
            <div class="invoice-detail-body">
              <div style="text-align:center">
                <h2 style="font-style: initial" >Ajouter Dossier</h2>
              </div>
              <div class="invoice-detail-terms">

                <div class="row justify-content-between">

                  <div class="col">

                    <div class="form-group mb-4">
                      <label for="number">Type Dossier</label>
                      <select id="number" #dossiertype class="form-control  ">
                        <option value="Import" selected="selected">Import</option>
                        <option value="Export">Export</option>
                      </select>
                    </div>

                  </div>

                  <div class="col">

                    <div class="form-group mb-4">
                      <label for="hello">Type d'operation</label>
                      <select #operation id="hello" class="form-control ">
                        <option value="Normale" selected="selected">Operation Normale</option>
                        <option value="Urgent">Operation Urgente</option>
                        <option value="TR">TR Travail Renumere</option>
                      </select>
                    </div>
                  </div>
                  <div *ngIf="!Auth.isClient() " class="col">

                    <div class="form-group mb-4">
                      <label for="users">Clients</label>
                      <select #username  id="users" class="form-control ">
                        <option *ngFor="let user of users"   value="{{user.username}}" >{{user.username}}</option>
                      </select>
                    </div>
                  </div>

                </div>

              </div>

              <div class="invoice-detail-items">
                <div class="table-responsive">
                  <table class="table table-bordered item-table">
                    <caption>Add Documents</caption>
                    <thead>
                    <tr>
                      <th scope="col" class=""></th>
                      <th  scope="col">Nom</th>
                      <th  scope="col" class="">Documents</th>
                    </tr>
                    </thead>
                    <tbody>
                    <ng-container *ngFor="let in  of counter(i); let a = index " >
                    <tr>
                      <td class="delete-item-row">
                        <ul class="table-controls">
                          <li><a (click)="deleterow()" href="javascript:void(0);"  data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg></a></li>
                        </ul>
                      </td>
                      <td class="description">
                        <select (change)="selectedName($event)" class="form-control">
                        <option value="Facture" selected="selected">Facture</option>
                        <option value="Connaissement/BL">Connaissement/BL</option>
                        <option value="Certif. d'origine">Certif. d'origine</option>
                        <option value="Certif. d'origine">bon a delivrer</option>
                        <option value="CMR">CMR</option>
                        <option value="Eng.import(Portnet">Eng.import(Portnet)</option>
                        <option value="Lisence d'import">Lisence d'import</option>
                        <option value="liscence d'export">liscence d'export</option>
                        <option value="Scellee">Scellee</option>
                        <option value="Autoris.Douane">Autoris.Douane</option>
                        <option value="Certif.Phytosanitaire/veterinaire">Certif.Phytosanitaire/veterinaire </option>
                        <option value="Autres">Autres</option>
                      </select>
                      </td>
                      <td class="rate">
                        <input type="file" class="file-input"
                               (change)="selectedFile($event)">
                      </td>
                    </tr>
                    </ng-container>
                    </tbody>
                  </table>
                </div>

                <button (click)="addrow()" class="btn btn-secondary  btn-sm">Add Item</button>
              </div>
              <div style="text-align:center">
              <button type="submit" (click)="onFileSelected()" class="btn btn-primary mb-4 mr-2 btn-lg">Ajouter</button>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
 </div>

