<div class="row layout-top-spacing">
  <div class="table-responsive">
    <table>
      <thead>

      <tr>
        <th rowspan="1" colspan="1" >
          Client Name
        </th>
        <th rowspan="1" colspan="1" >
          &nbsp;&nbsp;
        </th>
        <th class="align-content-center" rowspan="1" colspan="5" >
          Janvier
        </th>
      </tr>

      </thead>
      <tbody>
      <tr >Total </tr>
      <tr>Import</tr>
      <tr>Export</tr>
      </tbody>
    </table>
  </div>
</div>
