<div class="page-header">
  <div class="page-title">
    <h3>Agents Rapport :</h3>
  </div>
</div>

<div class="row layout-top-spacing">
<div class="row" id="cancel-row">
  <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
    <div class="widget-content widget-content-area br-6">
      <table id="html5-extension" class="table table-hover non-hover " style="width:100%">
        <thead>

        <tr>
          <th id="name" rowspan="1" colspan="1" >
            Agents Name
          </th>
          <th id="month" *ngFor="let help of helper" class="align-content-center" rowspan="1" colspan="3" >
            {{help.month}}
          </th>
          <th id="resultat"  class="align-content-center" rowspan="1" colspan="2" >
          resultat
          </th>
        </tr>
        <tr>

          <th id="">&nbsp;&nbsp;</th>
          <ng-container *ngFor="let help_1 of helper">
            <th id="Import" >Import&nbsp;&nbsp;</th>
            <th id="Export" >Export&nbsp;&nbsp;</th>
            <th id="subTotal" >Sub Total  </th>
          </ng-container>
          <th id="total">Total&nbsp;&nbsp;</th>
          <th id="Avg">Avg&nbsp;&nbsp;</th>
        </tr>
        </thead>
        <tbody >

        <tr *ngFor="let client of clients">
          <th id="username">{{client.username}}</th>
          <ng-container *ngFor="let help_2 of helper">
            <ng-container *ngFor="let help_3 of help_2.data">
              <ng-container *ngIf="client.username == help_3.username">
                <th id="countimport" >{{help_3.countImport}}&nbsp;&nbsp;</th>
                <th id="countexport" >{{help_3.countExport}}&nbsp;&nbsp;</th>
                <th id="counttotal" ><span class="badge badge-success">{{help_3.countTotal}}</span> </th>
              </ng-container>
            </ng-container>
          </ng-container>
          <th id="reservation">{{client.countReservations | number : '1.0-0'}}</th>
          <th id="permonth">{{client.countReservations/12}}</th>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>

<div class="row layout-top-spacing">
  <div class="row" id="cancel-row_1">

    <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
      <div class="widget-content widget-content-area br-6">
        <table id="default-ordering" class="table table-hover" style="width:100%">
          <thead>
          <tr>
            <th scope="col">Client</th>
            <th scope="col">Fisrt Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Nb. Dossier</th>
            <th scope="col">Creer À</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let c of ClientsList">

            <!-- Username  -->
            <td><span style="font-weight: bold">{{c.username}}</span></td>

            <!--First name -->
            <td><span style="font-weight: bold">{{c.firstName}}</span></td>
            <!-- last name -->
            <td><span style="font-weight: bold">{{c.lastName}}</span></td>

            <!-- email -->
            <td><span style="font-weight: bold">{{c.email}}</span></td>
            <!--count Dossier -->
            <td><span style="font-weight: bold" class="badge badge-info">{{c.countReservations}}</span></td>


            <!-- Creation Date -->
            <td>{{c.createdAt |  date:'medium'}}</td>

          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
