<div class="page-header">
  <div class="page-title">
    <h3>Clients Rapport :</h3>
  </div>
</div>


<div class="row layout-top-spacing">
  <div class="row" id="cancel-row_1">

    <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
      <div class="widget-content widget-content-area br-6">
        <table id="default-ordering" class="table table-hover" style="width:100%">
          <thead>
          <tr>
            <th>Client</th>
            <th>Fisrt Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Nb. Dossier</th>
            <th>Creer À</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let c of ClientsList">

            <!-- Username  -->
            <td><span style="font-weight: bold">{{c.username}}</span></td>

            <!--First name -->
            <td><span style="font-weight: bold">{{c.firstName}}</span></td>
            <!-- last name -->
            <td><span style="font-weight: bold">{{c.lastName}}</span></td>

            <!-- email -->
            <td><span style="font-weight: bold">{{c.email}}</span></td>
            <!--count Dossier -->
            <td><span style="font-weight: bold" class="badge badge-info">{{c.countReservations}}</span></td>


            <!-- Creation Date -->
            <td>{{c.createdAt |  date:'medium'}}</td>

          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
